$bodyBackground: #111111;
$opacBodyBackground: #000000f8;
$projectCardBackground: linear-gradient(65deg, #8080807b, #151b2f58, #070d1f91);
$curveBG: #ffb400;
$greyDefault: rgba(128, 128, 128, 0.589);
$yellowGrad: linear-gradient(65deg, #ffb400, #151b2f58, #070d1f91);
