name: Deployment on EC2 via Docker.

on:
  workflow_run:
    workflows: ["Deployment on Dockerhub."]
    types:
      - completed


jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Pull docker image
      run: docker pull ${{ secrets.DOCKER_REPO }}
      
    - name: Down the running container
      run: |
        docker compose down || true
        docker image prune -a -f || true
    
    - name: Compose up docker image
      run: CI=false docker compose up -d
